<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= link_to 'Create new supplier', new_supplier_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>

<div id="page-content">
  <h1 class="text-center mt-4">Index of Suppliers</h1>
   <div class="container">
  <% @suppliers.each do |supplier| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            by Rubén Marín
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to supplier.name, supplier_path(supplier), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(supplier.nit, length: 20) %></p>
            <p class="card-text"><%= truncate(supplier.bank.name, length: 20) %></p>
            <%= link_to "Show", supplier_path(supplier), class: "btn btn-outline-success" %>
            <%= link_to "Edit", edit_supplier_path(supplier), class: "btn btn-outline-info" %>
            <%= link_to "Delete", supplier_path(supplier), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(supplier.created_at) %> ago, 
            edited <%= time_ago_in_words(supplier.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= link_to 'Create new supplier', new_supplier_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>